<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Register Account</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		<div class="register">
			<h1>Register Account</h1>
            
            
			<div class="links">
                <a href="/">Back</a>
				<a href="{{ url_for('register') }}" class="active">Register</a>
                
			</div>
			<form action="{{ url_for('register') }}" method="post" autocomplete="off">
				<label for="username">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="username" placeholder="Username" id="username" required>
				<label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="Password" id="password" required>
				<label for="email">
					<i class="fas fa-envelope"></i>
				</label>
				<input type="email" name="email" placeholder="Email" id="email" required>
				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Register">
			</form>
		</div>

        <footer class="bg-light text-center text-lg-start">
            <!-- Copyright -->
            <div class="" style="background-color: rgba(0, 0, 0, 0.2); bottom: 0; position: absolute;text-align: center; width: 100%; color: rgb(249, 249, 255);"">
              © 2022 Developed by
              <a class="" style="color: rgb(170, 170, 182);" href="https://instagram.com/anthoniusadi">anthoniusadi</a>
              <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 1.0.0
              </div>
            </div>
            <!-- Copyright -->
          </footer>
	</body>
</html>